@import '_variables';
//? normal header styles
header {
  height: 4.5rem;
  margin: 2.5rem 2rem;
  border-radius: 20px;
  padding: 0 1rem;
  background-color: $secondary;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  @include flex(space-between, center, _, _);
  .logo {
    height: 90%;
    img {
      height: inherit;
    }
  }
  .nav-links {
    @include reset-list-styles();
    ul {
      .nav-li {
        transition: 0.3s ease-in-out;
        height: 1.5rem;
        &:hover {
          border-bottom: 2px solid $accents;
        }
        a {
          color: $nav-links;
        }
      }
      .dropdown {
        position: relative;
        display: inline-block;
        a {
          color: $nav-links;
        }
        &:hover {
          display: block;
        }
        I {
          color: $nav-links;
          font-size: 12px;
          margin: 0 5px;
          cursor: pointer;
        }
        .dropbtn {
          cursor: pointer;
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: $secondary;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          border: 1px solid $borders;
          border-radius: 7px;
          &:hover {
            display: block;
          }
          li {
            a {
              color: $nav-links;
              margin: 12px 16px;
              text-decoration: none;
              display: block;
              height: 2rem;
              transition: 0.3s ease-in-out;
              &:hover {
                border-bottom: 2px solid $accents;
              }
            }
          }
        }
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }

      .search-icon {
        color: $nav-links;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          color: $accents;
        }
      }
      @include flex(space-evenly, center, row, 2rem);
      .btn {
        padding: 0.5rem 1rem;
        color: white;
        text-decoration: none;
        background-color: $accents;
        border-radius: 25px;
        transition: 0.2s ease-in-out;
        &:hover {
          background-color: $accents-hover;
        }
      }
    }
  }
  //? hamburger and mobile nav styles
  /*!--------------------------hamburger menu--------------------*/
  .hamburger {
    display: block;
    margin: 15px;
    width: 30px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    top: 5px;
    z-index: 100;
    .bar,
    &::after,
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: $nav-links;
      margin: 6px 0px;
      transition: 0.4s;
    }
    &.is-active {
      &::before {
        transform: rotate(-45deg) translate(-2px, 3px);
      }

      .bar {
        opacity: 0;
      }

      &::after {
        transform: rotate(45deg) translate(-9px, -9px);
      }
    }
  }

  /*!--------------------------mobile nav--------------------*/

  .mobile-nav {
    @include reset-list-styles;
    position: fixed;
    top: 0.5rem;
    right: 1.5rem;
    width: 40%;
    z-index: 99;
    background-color: $secondary;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid $borders;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(100%);
    transition:
      opacity 0.4s ease-in-out,
      transform 0.4s cubic-bezier(0.2, 1, 0.3, 1); /* Use cubic-bezier for smoother animation */
    overflow: hidden;
    ul {
      color: $nav-links;
      @include flex(flex-start, flex-start, column, 1rem);
      li {
        a {
          color: $nav-links;
          transition: 0.3s ease-in-out;
          &:hover {
            border-bottom: 2px solid $accents;
          }
        }
      }
      .btn {
        padding: 0.5rem 1rem;
        color: white;
        text-decoration: none;
        background-color: $accents;
        border-radius: 25px;
        transition: 0.2s ease-in-out;
        width: 100%;
        text-align: center;
        &:hover {
          background-color: $accents-hover;
        }
      }
      .search-icon {
        color: $nav-links;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
          color: $accents;
        }
      }
    }
  }

  .mobile-nav.is-active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(25%);
    transition:
      opacity 0.4s ease-in-out,
      transform 0.4s cubic-bezier(0.2, 1, 0.3, 1);
  }

  /*? media queries*/
  /*?1st one just for hamburger menu*/
  @media screen and (max-width: 800px) {
    .mobile-nav {
      display: block;
    }
    .hamburger {
      display: block;
    }
    .nav-links {
      display: none;
    }
  }
  @media screen and (min-width: 800px) {
    .hamburger {
      display: none;
    }
  }
}
@media screen and (max-width: 800px) {
  header {
    height: 4rem;
    margin: 2rem 1.5rem;
  }
}
